* {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Arial';
}

body, html{
    background-color: #000066;
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
    scroll-behavior: smooth;
}

h1{
    padding-top: 15px;
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

.profileimgflex {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.profileimgflexcontent {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
}


.navbar {
    width: 100%;
    background-color: rgb(2, 2, 50);
    position: fixed;
}

.navbar-menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar-menu a:hover {
    background-color: slategray;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

.contents li{
    color: white; 
    font-size: 14px;
}

p {
    color: white;
    font-size: 14px;
}